<script>
$(function(){
if(navigator.geolocation)
navigator.geolocation.getCurrentPosition(
function(pos){
$("#lat").val(pos.coords.latitude);
$("#lng").val(pos.coords.longitude);
},function(){
alert('いち を とれる きのう が ないよ！')
}
);
else{
alert('いち を とれる きのう が ないよ！')
}
});
</script>
  <div data-role="page" id="p-listview-ordered">
    <div data-role="content">
	  <p>次のミッション</p>
      <ol data-role="listview">
      	<% @mission.checkpoints.each do |checkpoint|%>
        <li><%= checkpoint.title %></li>
        <% end %>
      </ol>
	   
    </div>
    	<%= form_for @milestone, :html => {:multipart => true} do |f| %>
    		<%= f.file_field :image %>
    		<%= f.hidden_field :latitude, :id => 'lat' %>
    		<%= f.hidden_field :longitude, :id => 'lng' %>
    		<%= f.hidden_field :mission_id %>
    		<%= f.submit 'しゃしんをおくる'%>
    	<% end %>
  </div>