<div class="container">
    <div class="hero-unit">
        <h1>はじめてチャレンジ</h1>
    </div>

    <div class="row">
        <div class="span12">
            <p><%= link_to '新しいミッションを始める', new_mission_path, :class=>'btn' %></p>
    	</div>
    </div>
    <div class="row">
    	<% @missions.each do |mission|%>  
        <div class="span4">
            <h2><%= mission.title %></h2>
            <p><%= mission.content %></p>
            <p><%= link_to 'ミッションを見る', mission, :class=>'btn'%></p>
            <p><%= link_to '認定書を見る', certificate_mission_path(mission), :class=>'btn btn-primary'%></p>
        </div>
        <% end %>
    </div>
</div>



