<div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>メロディ</h1>
            </div>

 <div class="row">
                <div class="span8">
                    <p><div id="map-canvas" class="span7" style="height:500px;">map</div></p>
                </div>
                <div class="span4">
                        <h3><%= @mission.title %></h3>
                        <p><%= @mission.content %></p>

                        <div id="inputckpoint">
                            <ol id="list">
                            	<% @mission.checkpoints.each do |checkpoint|%>
                                <li>
                                    <span class="key"><%= checkpoint.id %></span>
                                    <span class="states">0</span>
                                    <span class="photo">/img/aaaa.jpg</span>
                                    <span class="name"><%= checkpoint.title %></span>
                                    <span class="lat"><%= checkpoint.latitude %></span>
                                    <span class="lng"><%= checkpoint.longitude %></span>
                                </li>
                                <% end %>
                            </ol>                   
                        </div>
                        <hr/>
                        <a href="#" onclick="updateCKpoint('oba003');return false;">テスト：六本木駅に到着</a>

            </div>
</div>

<%= subscribe_to "/mission/show".concat(@mission.id.to_s) %>

<script>

    var pois=[];
    var nowckpoint=0;
        google.maps.event.addDomListener(window, 'load', function() {
            $("#goalnamebtn").attr('disabled', true);

            var markerObj; 
            var mapObj; 
            var lng = 139.731008; 
            var lat = 35.665724; 
            var latlng = new google.maps.LatLng(lat, lng); 
 
            var mapOptions = { 
                zoom: 13, 
                center: latlng, 
                mapTypeId: google.maps.MapTypeId.ROADMAP, 
                scaleControl: true 
            }; 
            mapObj = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); 
 
            var i=0;
            $('#list li').each(function(){
                i++;
                var states=$(".states",this).html();
                pois.push({"key":$(".key",this).html(),"states":states,"name":$(".name",this).html(),"lat":$(".lat",this).html(),"lng":$(".lng",this).html()});
                if(states==1){
                    $(this).css("color","blue");
                    nowckpoint=i;
                }
            });
            $("#list li:eq("+(nowckpoint)+")").css("color","red");

            for(i=0;i<pois.length;i++){
                pois[i]["marker"] = new google.maps.Marker({ 
                    position: new google.maps.LatLng(pois[i]["lat"], pois[i]["lng"]), 
                    map: mapObj,
                    icon: "http://gmaps-samples.googlecode.com/svn/trunk/markers/red/marker"+(i+1)+".png"
                });
            }

            // クリックした場所にマーカーを追加 
            $("#goalnamebtn").click(function(){
                    var name=$("#goalname").val();
                    var lat=$("#goalnamelat").val();
                    var lng=$("#goalnamelng").val();

                    if(name!="" && lat!="" && lng!=""){

                        var ht = $("#list").html();
                        $("#list").html(ht+"<li>"+name+"</li>");


                        pois.push({"name":name,"lat":lat,"lng":lng})
                        var latlng = new google.maps.LatLng(lat, lng);

                        m = new google.maps.Marker({ 
                            position: latlng, 
                            map: mapObj,
                            icon: "http://gmaps-samples.googlecode.com/svn/trunk/markers/red/marker"+pois.length+".png"
                        });

                        markerObj.setMap(null);

                        $("#goalname").val("");
                        $("#goalnamelat").val("");
                        $("#goalnamelng").val("");
                        $("#goalnamebtn").attr('disabled', true);
                    }


            });

            google.maps.event.addListener(mapObj, 'click', function(e){ 
                if(markerObj)
                    markerObj.setMap(null);
                $("#goalnamelat").val(e.latLng.lat());
                $("#goalnamelng").val(e.latLng.lng());

                $("#goalnamebtn").attr('disabled', false);

                markerObj = new google.maps.Marker({ 
                    position: e.latLng, 
                    map: mapObj
                });
            });

        });

    function updateCKpoint(key){
        for(i=0;i<pois.length;i++){
            if(pois[i]["key"]==key){
                $("#list li:eq("+(i)+")").css("color","blue");
            }
        }
    }

    </script>