<div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>メロディ</h1>
            </div>

            <!-- Example row of columns -->
    <div class="row">
    	<div class="span6">
        	<p><div id="map" class="span5" style="height:100%;border:1px solid red;">map</div></p>
   		</div>
    	<div class="span6">
    		<form action="">
                <h3><%= @mission.title %></h3>
                <p><%= @mission.content %></p>
                <h3>チェックポイント</h3>
                <p>
                    <ol id="list">
                    	<%= @mission.checkpoints.each do |checkpoint|%>
                        <li><%= checkpoint.title %></li>
                        <% end %>
                    </ol>
                </p>
            </form>
        </div>
    </div>        
</div>

<%= subscribe_to "/mission/show".concat(@mission.id.to_s) %>