<div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>メロディ</h1>
            </div>

 <div class="row">
                <div class="span8">
                    <p><div id="map-canvas" class="span7" style="height:500px;">map</div></p>
                </div>
                <div class="span4">
                        <h3><%= @mission.title %></h3>
                        <p><%= @mission.content %></p>

                        <div id="inputckpoint">
                            <ol id="list">
                            	<% @mission.checkpoints.each do |checkpoint|%>
                                <li>
                                    <span class="key"><%= checkpoint.id %></span>
                                    <span class="states"><%= checkpoint.state %></span>
                                    <% if checkpoint.milestone %>
                                    <span class="photo"><%= checkpoint.milestone.image_url %></span>
                                    <% end %>
                                    <span class="name"><%= checkpoint.title %></span>
                                    <span class="lat"><%= checkpoint.latitude %></span>
                                    <span class="lng"><%= checkpoint.longitude %></span>
                                </li>
                                <% end %>
                            </ol>                   
                        </div>
                        <hr/>

            </div>
</div>

<%= subscribe_to "/mission/show".concat(@mission.id.to_s) %>

<script>

    var pois=[];
    var nowckpoint=0;
    var currentInfoWindow;
            var markerObj; 
            var mapObj; 
        google.maps.event.addDomListener(window, 'load', function() {
            $("#goalnamebtn").attr('disabled', true);


            var lng = 139.731008; 
            var lat = 35.665724; 
            var latlng = new google.maps.LatLng(lat, lng); 
 
            var mapOptions = { 
                zoom: 13, 
                center: latlng, 
                mapTypeId: google.maps.MapTypeId.ROADMAP, 
                scaleControl: true 
            }; 
            mapObj = new google.maps.Map(document.getElementById('map-canvas'), mapOptions); 
 
            var i=0;
            $('#list li').each(function(){
                i++;
                var states=$(".states",this).html();
                pois.push({"key":$(".key",this).html(),"states":states,"photo":$(".photo",this).html(),"name":$(".name",this).html(),"lat":$(".lat",this).html(),"lng":$(".lng",this).html()});
                if(states==1){
                    $(this).css("color","blue");
                    nowckpoint=i;
                }
            });
            $("#list li:eq("+(nowckpoint)+")").css("color","red");

            for(i=0;i<pois.length;i++){
                pois[i]["marker"] = new google.maps.Marker({ 
                    position: new google.maps.LatLng(pois[i]["lat"], pois[i]["lng"]), 
                    map: mapObj,
                    icon: "http://wks.sakura.ne.jp/tmp/icons/"+(i+1)+"_1.png"
                });
                if(pois[i]["states"] && pois[i]["states"]!=0){
                    pois[i]["window"]=new google.maps.InfoWindow({content:'<img src="'+pois[i]["photo"]+'" width="200px"/>'});
                }else{
                    pois[i]["window"]=new google.maps.InfoWindow({content:'<img src="http://wks.sakura.ne.jp/tmp/icons/lego_1_128.png"/>'});
                }
            }

            $("#list li").mouseover(function(e){
                var key=$(".key",this).html();
                var poi;
                for(i=0;i<pois.length;i++){
                    if(pois[i]["key"]==key){
                        poi=pois[i];
                    }
                }
                if(currentInfoWindow)
                    currentInfoWindow.close();
                if(poi && poi["window"]){
                    poi["window"].open(mapObj,poi["marker"]);
                    currentInfoWindow=poi["window"];               
                }
            });

        });

    function updateCKpoint(key,photo){
        for(i=0;i<pois.length;i++){
            if(pois[i]["key"]==key){
                pois[i]["states"]=1;

                if(currentInfoWindow)
                    currentInfoWindow.close();
                if(photo){
                    pois[i]["photo"]=photo;
                    pois[i]["window"]=new google.maps.InfoWindow({content:'<img src="'+pois[i]["photo"]+'" width="200px"/>'});
                    pois[i]["window"].open(mapObj,pois[i]["marker"]);
                    currentInfoWindow=pois[i]["window"];
                }
                $("#list li:eq("+(i)+")").css("color","blue");
                if((i+1)<pois.length){
                    $("#list li:eq("+(i+1)+")").css("color","red");
                }else{
                    alert('到着しました！');
                }

            }
        }
    }

    </script>