<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Melody</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
<style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .lat,.lng,.key,.states,.photo {
                display: none;
            }
        </style>
        <style>
#map-canvas label { width: auto; display:inline; }
#map-canvas img { max-width: none; }
</style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <%= link_to 'Project name', '#', :class=>'brand' %>
                <div class="nav-collapse collapse">
                	<ul class="nav">
                        <li><%= link_to 'HOME', '/' %></li>
                        <li><%= link_to '一覧', history_missions_path %></li>
                        <li><%= link_to '新規作成', new_mission_path %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
<%= yield %>

	<footer>
        <p>&copy; Hackathon for Social Change 2013</p>
    </footer>

</body>
</html>
